
<nav>
    <ul>
            <li>
                <NavLink  class="navlink" href="/" Match="NavLinkMatch.All"> Hem </NavLink>
            </li>
            <li> 
                <NavLink class="navlink" href="json"> JSON</NavLink>
            </li>
            <li>
                <NavLink class="navlink" href="convert">Konvertering</NavLink>
            </li>
            </ul>
    </nav>


@code {
    
}
