@page "/"

<PageTitle>Hem</PageTitle>

<h1>Välkommen!</h1>

<h2>Korpenbilder</h2>
<p>Några bilder till Korpens sociala medier som skapats av mig</p>

<div class="pictures">
<img src="../images/rorelsegladje.jpg" alt="Annons för rörelseglädje barn 2-5år">
<img src="../images/foralla.jpg" alt="Annonsbild, träning för alla">
</div>

